<section class="product-info">
	<header>
		<h3><%= product_info.title %></h3>
	</header>
	
	<% unless product_info.interchange_image.nil? %>
		<div class="product-image">
			<%= partial(:'partials/image/interchange_image', :locals => { :interchange_image => product_info.interchange_image }) %>
		</div>
	<% end %>
	
	<div class="product-content">
		<%= product_info.content %>
	</div>
</section>