<nav class="top-bar">
	<ul class="title-area">
		<li class="name">
		  <h1><a href="/">agevo</a></h1>
		</li>
		<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
		<li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
	</ul>

	<section class="top-bar-section">
	    <ul class="left">
	      	<li class="divider"></li>
	      	<li><a href="#">Home</a></li>
	      	<li class="divider"></li>
	      	<li><a href="/produkte">Produkte</a></li>
	      	<li class="divider"></li>
	    </ul>

	    <ul class="right">
  			<li class="divider hide-for-small hide-for-medium"></li>
  			<li class=""><a href="#">Suche</a></li>
	    </ul>
	</section>
</nav>