/* Icons */
@font-face {
  font-family: 'agevo-icons';
  src:url('fonts/agevo-icons.eot');
  src:url('fonts/agevo-icons.eot?#iefix') format('embedded-opentype'),
    url('fonts/agevo-icons.woff') format('woff'),
    url('fonts/agevo-icons.ttf') format('truetype'),
    url('fonts/agevo-icons.svg#agevo-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}