// Medium layout 
@media #{$medium} {
  .top-wrapper {

    .header-section {
      > header {
        > .header-container {
          position: relative;
          margin-bottom: 1em;
          
          > .logo {
            @include grid-column($columns: 4);
            text-align: left;
          }
          
          > nav {
            position: absolute;
            right: 0;
            bottom: 0;
            display: block;
            text-align: right;
            
            > ul.main-navigation {
              margin-left: 0;
              display: inline-block;
              @include horizontal-list();
      
              > li {
                //display: table-cell;
                vertical-align: bottom;
                padding-right: 2em;
                
                &:last-child {
                  padding: 0;
                }
                
                > a {
                  font-family: $agevo-font-headings;
                  font-size: emCalc(20px);
                }
              }
            }
          }
        }
      }
    }
    
    .main-section {
      > aside.aside-a {
        @include grid-column($columns: 3);
        @include border-radius(1em);
        margin-bottom: 3em;
      }
      
      > .content {
        margin-bottom: 3em;
        
        &.small {
          @include grid-column($columns: 9);
        }
      }
      
      > aside.aside-b {
        @include grid-column($columns: 3);
        @include border-radius(1em);
        margin-bottom: 3em;
      }
    }
  }
  
  .products {
    > .product-teaser-blocks {
      @include block-grid(3);
    }
  }
  
  .footer-section {
    > .footer-container {
      > .box-a {
        @include grid-column($columns: 3);
      }
      
      > .box-b {
        @include grid-column($columns: 3);
      }
      
      > .box-c {
        @include grid-column($columns: 3);
      }
      
      > .box-d {
        @include grid-column($columns: 3);
      }
    }
  }
}