// Medium layout 
@media #{$medium} {
  .top-wrapper {
    .header-section {
      & > header {
        & > .header-container {
          & > .logo {
            @include grid-column($columns: 4);
            text-align: left;
          }
          
          & > nav {
            @include grid-column($columns: 8);
            text-align: right;
          }
        }
      }
    }
    
    .main-section {
      & > aside.aside-a {
        @include grid-column($columns: 3);
        @include border-radius(1em);
        margin-bottom: 3em;
      }
      
      & > .content {
        margin-bottom: 3em;
        
        &.small {
          @include grid-column($columns: 9);
        }
      }
      
      & > aside.aside-b {
        @include grid-column($columns: 3);
        @include border-radius(1em);
        margin-bottom: 3em;
      }
    }
  }
  
  .footer-section {
    & > .footer-container {
      & > .box-a {
        @include grid-column($columns: 3);
      }
      
      & > .box-b {
        @include grid-column($columns: 3);
      }
      
      & > .box-c {
        @include grid-column($columns: 3);
      }
      
      & > .box-d {
        @include grid-column($columns: 3);
      }
    }
  }
}