@charset "utf-8";

@import "compass";
@import "h5bp";

@import "variables";
@import "foundation/components/global";
@import "foundation/components/visibility";
@import "foundation/components/grid";
@import "foundation/components/top-bar";
@import "foundation/components/sub-nav";
@import "foundation/components/orbit";

@import "fonts";
@import "spline";

@include h5bp-normalize;

@import "foundation/components/type";

@import "base";

// Basic global classes

.read-more {
  @include spline-button($color: $agevo-secondary-color, $icon: attr(data-icon), $icon-size: 1.5em, $icon-vertical-align: middle, $padding: 0.4em);
}

.info-box { 
  @include spline-icon-box(attr(data-icon), $icon-size: 3em, $icon-padding: 1em, $icon-color: $agevo-grey);
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.info-box-grey {
  @extend .info-box;
  @include border-radius(1em);
  background-color: $agevo-light-grey;
  &:before {
    padding-left: 0.2em;
  }
  
  color: $agevo-dark-grey;
}

img.image-box {
  padding: 0.5em;
  @include border-radius(0.5em);
  border: solid 1px $agevo-grey;
  @include box-shadow(rgba(0, 0, 0, 0.1) 0px 0px 5px);
}

// Basic layout mobile first
.key-visual-section {
  margin: 0 auto;
  max-width: emCalc(1920px);
  //@include box-shadow(rgba(0, 0, 0, 0.4) 0px 0px 5px);
  margin-bottom: 3em;
  
  > figure {
    width: 100%;
    
    > img {
      width: 100%;
    }
  }
}

.carousel-section {
  margin: 0 auto;
  max-width: emCalc($large-screen);
  margin-bottom: 3em;
  
  .slideshow-wrapper {
        
    > .orbit-bullets {
      text-align: center;
      
      > li {
        display: inline-block;
        float: none;
        margin-right: 1em;
      }
    }
    
    > .orbit-container {
      > .orbit-slide-number {
        display: none;
      }
      
      > ul[data-orbit] {
        > li {
          > figure {
            width: 100%;
            
            > img {
              width: 100%;
            }
          } 
          
          > .orbit-caption {
            #{headings()} {
              color: $agevo-light-grey;
            }
          }
        }
      }
    }
  }
}

.top-wrapper {
  background-color: #fff;
  @include box-shadow(rgba(0, 0, 0, 0.5) 0px 0px 5px);
  
  > .top-bar {
    @include box-shadow(rgba(0, 0, 0, 0.4) 0px 0px 5px);
    //@include box-sizing(content-box);
    //text-shadow: 0 -1px 0 shade($topbar-bg, 80%);
    border-bottom: 1px solid shade($topbar-bg, 20%);
  }
  
  > .header-section {
  	@include grid-row();
  	
  	> header {
  		@include grid-column($columns: 12);
  		
  		> .header-container {
        @include grid-row($behavior: nest);
  		
    		> .logo {
    		  @include grid-column($columns: 12);
    		  text-align: center;
    		  
    		  > img {
    		    display: inline-block;
    		  }
    		}
        
        > nav {
          @include grid-column($columns: 12);
          text-align: center;
          
          > ul.main-navigation {
            margin-left: 0;
            display: inline-block;
            height: 4em;
            @include horizontal-list();
    
            > li {
              //display: table-cell;
              vertical-align: bottom;
              padding-right: 1em;
              
              &:last-child {
                padding: 0;
              }
              
              > a {
                font-size: emCalc(14px);
              }
            }
          }
        }
      }
  	}
  }
  
  .main-section {
    @include grid-row();
    
    > header {
      @include grid-column($columns: 12);
      padding-bottom: 1em;
    }
    
    > aside.aside-a {
      @include grid-column($columns: 12);
      background-color: $agevo-light-grey;
      padding-bottom: 1em;
      padding-top: 1em;
    }
    
    > .content {
      @include grid-column($columns: 12);
      padding-bottom: 1em;
    }
    
    > aside.aside-b {
      @include grid-column($columns: 12);
      background-color: $agevo-light-grey;
      padding-bottom: 1em;
      padding-top: 1em;
    }
  }
}




.products {
  > .product-info {
    @include grid-row($behavior: nest);
    
    > header {
      @include grid-column($columns: 12);
    }
    
    > .product-image {
      @include grid-column($columns: 12);
      margin-bottom: 1em;
              
      img {
        @extend .image-box;
        width: 100%;
        height: auto;
      }
    }
    
    > .product-content {
      @include grid-column($columns: 12);
    }
  }
}



  
.footer-section {
  margin: 0 auto;
  width: 100%;
  color: tint($agevo-footer-color, 60%);
  padding-bottom: 1em;
  //@include text-shadow(0 1px 0 shade($agevo-footer-color, 50%));
  
  a {
    color: tint($agevo-footer-color, 60%);
    
    &:hover {
      color: tint($agevo-footer-color, 80%);
    }
  }
  
  #{headings()} {
    color: tint($agevo-footer-color, 40%);
  }
  
  > .footer-container {
    @include grid-row();
    
    > .box-a {
      @include grid-column($columns: 12);
      
      > .footer-nav {
        list-style: none;
        margin: 0;
        
        > li {
          
          
          &:before { 
            content: "-";
            margin-right: 1em;            
          };
        }
      }
    }
    
    > .box-b {
      @include grid-column($columns: 12);
    }
    
    > .box-c {
      @include grid-column($columns: 12);
    }
    
    > .box-d {
      @include grid-column($columns: 12);
    }
  }
}

@import "small";
@import "medium";

// inlcude webfont at latest point possible
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600");
@import url("http://fonts.googleapis.com/css?family=Lato");