---
title: Welcome to Foundation
---

<header class="page-header">
  <div class="row">
    <div class="large-12 columns">
      <h2>CROWD STORM</h2>
      <p class="tagline">Brainstorming for the crowd</p>
    </div>
  </div>
</header>

<section class="introduction">
  <div class="row">
    <div class="large-8 columns">
      <h3>Start to share your thoughts!</h3>

      <!-- Grid Example -->
      <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <p>Specify a username to start the real-time collaboration on a brainstorming session.</p>
            <div class="row collapse">
              <div class="small-10 columns">
                <input id="userName" type="text" placeholder="Username">
              </div>
              <div class="small-2 columns">
                <a id="startStorm" href="#" class="button prefix">Start!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <div class="panel">
            <p>Collect information and share your ideas</p>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="panel">
            <p>Collaborate on ideas in realtime</p>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="panel">
            <p>Introduce fast idea and innovation management into your company</p>
          </div>
        </div>
      </div>
    </div>

    <div class="large-4 columns">
      <h4>How does it work?</h4>
      <p>Collaborate instantly and with a big crowd to collect ideas and information. Within minutes this collaborative brain storming tool allows you to collect a massive amount of information. Crowd based idea management helps your company to conduct innovation </p>
    </div>
  </div>
</section>

<section class="storm-plane go-away">
  <div class="row">
    <div class="large-12 columns">
       <canvas id="stormCanvas" width="800" height="600"></canvas>
    </div>
  </div>
</section>