---
title: Willkommen bei Agevo
---

<% content_for :header_carousel do %>
	<%= partial(:'partials/carousel/carousel', :locals => { :carousel => data.page_home.carousel }) %>
<% end %>

<% content_for :side_b do %>
	<div class="welcome-side">
		<h3>Wir finden für Sie die besten Versicherungen!</h3>
		<p>Ob Auto-, Haftplicht-, Kranken- oder Reiseversicherung. Wir suchen für Sie die besten Versicherungen zu den besten Preisen.</p>
		<a href="produkte.html" class="read-more" data-icon="&#xe10d;">Zu den Produkten</a>
	</div>
<% end %>

<div class="welcome">
	<p>Die AGEVO Versicherungen GmbH ist ein junges und dynamisches Unternehmen, welches sich durch ein breit abgestütztes Partnernetz (u.a. an Krankenkassen) darauf spezialisiert hat, Privatpersonen sowie KMU’s die optimalsten Versicherungslösungen zu bestmöglichen Tarifen anzubieten.</p>
	<h3>Informationspflicht</h3>
	<p>Seit 2007 ist es für alle Versicherungsberater und –vermittler Pflicht, die Kunden umfassend zu informieren. Diese Informationspflicht umfasst:</p>
	<ul>
		<li>Identität und Adresse des Versicherungsberaters / -vermittlers</li>
		<li>Ob die von ihm angebotenen Versicherungsdeckungen von einem oder mehreren Versicherungsunternehmungen stammen</li>
		<li>Seine Vertragsbeziehungen mit den Versicherungsunternehmen</li>
		<li>Person, die im Haftungsfall zu belangen ist</li>
		<li>Bearbeitung der Personendaten</li>
	</ul>
</div>
