---
title: Produkte
---

<% content_for :header_visual do %>
	<%= partial(:'partials/image/interchange_image', :locals => { :interchange_image => data.page_products.key_visual }) %>
<% end %>

<% content_for :side_b do %>
	<h3>Produkte nach Mass</h3>
	<p>Sie kennen das: Einmal abgeschlossen befasst man sich am liebsten gar nicht mehr mit seinen Versicherungen. Das ist verständlich, kann aber ganz schön ins Geld gehen. Viele Versicherte zahlen Jahr für Jahr zuviel! Teilweise in Grössenordnungen, die locker den nächsten Urlaub für die ganze Familie finanzieren könnten.</p>
	<p>Checken Sie Ihre bestehenden Versicherungen und Sie wissen sofort Bescheid, wieviel Sparpotenzial drinliegt. Geld, das Sie für andere Zwecke gut brauchen können. Stellen Sie Ihre Versicherungen auf den Prüfstand und nutzen Sie den kostenlosen und unabhängigen Versicherungsvergleich, den wir für Sie übersichtlich erstellen!</p>
	<h3>Machen Sie den Check!</h3>
	<p>Ein Check lohnt sich für jede Versicherung. Ob Auto- oder Sachversicherungen, Haftpflicht- oder Hausratversicherungen, Kranken-, Lebens- und Rentenversicherungen: Ihre bestehende Versicherung wird mit den Lösungen von unzähligen anderen Anbietern verglichen.</p>
	<p>Was dabei herauskommt ist ein kostenloser und unabhängiger Check, der Ihnen schwarz auf weiss vor Augen führt, wo und wie Sie bares Geld sparen können.</p>
<% end %>

<% content_for :header_content do %>
	<%= partial(:'partials/navigation/sub_navigation', 
							:locals => { 
								:nav => data.products_sub_navigation, :cssclass => "sub-nav", :activeurl => request.path}) %>
<% end %>

<div class="products">
  <h2>Informationen rund um Sach- und Personen&shy;versicherungen</h2>
  <p>Wir haben für Sie das Wichtigste zusammengefasst und zeigen Sparmöglichkeiten sowie typische Fallen, auf die Sie achten sollten.</p>
  <ul class="product-teaser-blocks">
	  <% data.page_products.product_teasers.each do |product_teaser| %>
	  	<%= partial(:'partials/products/product_teaser', :locals => { :product_teaser => product_teaser })%>
	  <% end %>
  </ul>
</div>