---
title: Unsere Dienstleistungen
---

<% content_for :header_visual do %>
	<%= partial(:'partials/image/interchange_image', :locals => { :interchange_image => data.page_service['key-visual'] }) %>
<% end %>

<div class="service">
	<p>Unsere Dienstleistungen beschränken sich nicht nur auf die einmalige Beratung für unsere Produkte. Geniessen Sie langfristige Betreuung und profitieren Sie von unserem Wissen in Sachen Versicherungen.</p>
	<p>Wir sind hilfsbereit und unkompliziert. Durch stetige Aus- und Weiterbildungen bewegen wir uns immer mit der Zeit. Unsere Ausrichtung ist professionell und flexibel. Auch ausserhalb der Öffnungszeiten sind wir jeweils für Sie da!</p>
	<div class="info-box" data-icon="&#xe12f;">
		<h3 id="krankenkassen">Krankenkassen</h3>
		<p>Wir helfen Ihnen, Ihren Versicherungsschutz prämientechnisch, wie auch leistungsbezogen zu optimieren. Das bedeutet für Sie besseren Versicherungsschutz zu tieferen Krankenkassenprämien. Auf Ihre Bedürfnisse abgestimmt stellen wir Ihnen gerne einen transparenten Leistungs- und Prämienvergleich als Entscheidungsgrundlage zusammen. So sparen Sie Zeit UND Prämien.</p>
		<p><strong>Ihre Vorteile bei einem KrankenkassenCheck sind, dass Sie:</strong></p>
		<ul>
			<li>nicht zuviel Krankenkassen-Prämien zahlen</li>
			<li>sicher sind, dass keine Doppelversicherungen (Unfallversicherung etc.) bestehen</li>
			<li>wissen, ob sie eventuell von vorhandenen Kollektiv-Lösungen profitieren können</li>
			<li>den Weg zur Kostenreduktion kennen</li>
			<li>sich nicht mit dem administrativen Teil einer Vertragsänderung herumschlagen müssen</li>
		</ul>
	</div>
	<div class="info-box" data-icon="&#xe156;">
		<h3 id="ansprechpartner">Ein Ansprechpartner für alle Belange</h3>
		<p>Wir decken die gesamte Palette der Sach- und Personenversicherungen, Haftpflicht, Rechtsschutz und Vorsorge ab und bieten Ihnen eine umfassende Beratung. Unsere Dienstleistungen richten sich an Privatpersonen und KMU.</p>
		<p><strong>Gerne führen wir unverbindlich und kostenlos einen PolicenCheck und/oder einen KrankenkassenCheck für Sie durch.  Was beinhalten diese Policen- und KrankenkassenChecks?</strong></p>
		<ul>
			<li>Zuerst werden sämtliche bestehenden Versicherungsverträge geordnet und kontrolliert.</li>
			<li>Anschliessend prüfen wir, ob diese noch den aktuellen Gegebenheiten entsprechen und vergleichen die Kosten der einzelnen Policen mit den Angeboten auf dem Markt.</li>
		</ul>
		<p><strong>Ihre Vorteile bei einem PolicenCheck sind, dass Sie:</strong></p>
		<ul>
			<li>nicht zuviel Prämien zahlen</li>
			<li>sicher sind, dass keine Überversicherung besteht</li>
			<li>wissen, ob sie genügend versichert sind (Unterversicherung)</li>
			<li>den Weg zur Kostenreduktion kennen</li>
			<li>weiterhin frei in der Wahl Ihres Versicherungsberaters sind</li>
			<li>sich nicht mit den einzelnen Gesellschaften herumschlagen müssen</li>
		</ul>
	</div>
	<div class="info-box" data-icon="&#xe1c1;">
		<h3 id="privatpersonen">Dienstleistungen für Privatpersonen</h3>
		<ul>
			<li>Bedürfnis-Analyse  und Besprechung der bestehenden Versicherungspolicen</li>
			<li>Kranken- und Unfallversicherung</li>
			<li>Internationale Krankenversicherung für unlimitierte und weltweite Deckung bei Auslandaufenthalt</li>
			<li>Lohnausfallversicherung bei Krankheit und Unfall</li>
			<li>Unfall-Zusatzversicherung (z.B. für Hausangestellte)</li>
			<li>Rechtsschutzversicherung (Privat- wie auch für den Verkehr)</li>
			<li>Prämienvergünstigungen</li>
			<li>Finanzplanungen</li>
			<li>Ausfüllen der Steuererklärung sowie Steuerberatung</li>
		</ul>
	</div>
	<div class="info-box" data-icon="&#xe1bf;">
		<h3 id="kmu">Dienstleistungen für KMU</h3>
		<ul>
			<li>Besprechung der aktuellen Versicherungen mit Bedürfnis-Analyse </li>
			<li>Kollektive Kranken- und Unfallversicherungen</li>
			<li>Betriebs-Haftpflicht </li>
			<li>Mandatsübernahme</li>
			<li>Gästeversicherung für Auslandkunden</li>
			<li>Finanz- und Budgetplanungen</li>
			<li>Zusätzliche Dienstleistungen</li>
		</ul>
	</div>
</div>