---
title: Unsere Dienstleistungen
---

<% content_for :header_visual do %>
	<%= partial(:'partials/image/interchange_image', :locals => { :interchange_image => data.page_service['key-visual'] }) %>
<% end %>

<div class="service">
	<p>Unsere Dienstleistungen beschränken sich nicht nur auf die einmalige Beratung für unsere Produkte. Geniessen Sie langfristige Betreuung und profitieren Sie von unserem Wissen in Sachen Versicherungen.</p>
	<p>Wir sind hilfsbereit und unkompliziert. Durch stetige Aus- und Weiterbildungen bewegen wir uns immer mit der Zeit. Unsere Ausrichtung ist professionell und flexibel. Auch ausserhalb der Öffnungszeiten sind wir jeweils für Sie da!</p>
	<div class="info-box" data-icon="&#xe154;">
		<h3>Ein Ansprechpartner für alle Belangen</h3>
		<p>Wir decken die gesamte Palette der Sach- und Personenversicherungen, Haftpflicht, Rechtsschutz und Vorsorge ab und bieten Ihnen eine umfassende Beratung. Unsere Dienstleistungen richten sich an Privatpersonen und KMU.</p>
	</div>
	<div class="info-box" data-icon="&#xe151;">
		<h3>Kunden</h3>
		<p>Unsere volle Aufmerksamkeit gehört aus Überzeugung den Kunden. Kundenbindung durch eigene Aussendienstmitarbeiter mittels Transparenz und hoher Servicequalität.</p>
	</div>
	<div class="info-box" data-icon="&#xe10d;">
		<h3>Angebot</h3>
		<p>Unser Angebot ist bedürfnisorientiert, vielfältig und trotzdem einfach gehalten. Wir begleiten Sie sicher und kompetent durch den Versicherungsdschungel, da wir ausschliesslich mit zuverlässigen und ausgesuchten Partnern zusammenarbeiten.</p>
	</div>
	<div class="info-box" data-icon="&#xe091;">
		<h3>Wachstum</h3>
		<p>Wir wollen expandieren und grösser werden, vor allem aber uns stets verbessern. Die AGEVO Versicherungen GmbH ist ein junges und dynamisches Unternehmen mit Start-up Geist.</p>
	</div>
</div>