---
title: Über uns
---

<% content_for :header_visual do %>
	<%= partial(:'partials/image/interchange_image', :locals => { :interchange_image => data.page_about['key-visual'] }) %>
<% end %>

<div class="about">
	<h3>Ein Ansprechpartner für alle Belange</h3>
	<p>Wir decken die gesamte Palette der Sach- und Personenversicherungen, Haftpflicht, Rechtsschutz und Vorsorge ab und bieten Ihnen eine umfassende Beratung. Unsere Dienstleistungen richten sich an Privatpersonen und KMU.</p>
	<h3>Kunden</h3>
	<p>Unsere volle Aufmerksamkeit gehört aus Überzeugung den Kunden. Kundenbindung durch eigene Aussendienstmitarbeiter mittels Transparenz und hoher Servicequalität.</p>
	<h3>Angebot</h3>
	<p>Unser Angebot ist bedürfnisorientiert, vielfältig und trotzdem einfach gehalten. Wir begleiten Sie sicher und kompetent durch den Versicherungsdschungel, da wir ausschliesslich mit zuverlässigen und ausgesuchten Partnern zusammenarbeiten.</p>
	<h3>Wachstum</h3>
	<p>Wir wollen expandieren und grösser werden, vor allem aber wollen wir uns stets verbessern. Die AGEVO Versicherungen GmbH ist ein junges und dynamisches Unternehmen mit Start-up Geist.</p>
</div>